* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  background: rgb(190, 9, 190);

  .login {
    text-align: center;

    .welcome {
      color: #fff;
      font-size: 50px;
      padding-top: 10rem;
      margin-bottom: 20px;
      letter-spacing: 5px;
      font-weight: 700;
    }
    .loginInput {
      padding: 10px;
      margin: 10px;
      width: 20%;
      letter-spacing: 3px;
      border-radius: 10px;
      border: none;
    }
    .btnLogin {
      width: 130px;
      transition: 0.3s ease-in-out;
      margin-top: 10px;
      font-weight: 900;
      &:hover{
        color: rgb(190, 9, 190);
      }
    }
  }
}
